:root {
    --main-menu-width: 60px;
    --main-side-width: 200px;
    --bg-color: #fff;
    --nav-color: #000;
}
*{margin:0;border:0;}
#Home .layui-side,#Home .layui-body{
    top:0;
}
#Home .layui-side{
    left:var(--main-menu-width);
}
#Home .layui-side{
    left:var(--main-menu-width);
}
#Home .layui-nav,#Home .layui-nav-tree .layui-nav-child{
    background: var(--bg-color);
    color: var(--nav-color);
}
#Home .layui-body{
    padding-bottom: 0;
    overflow:hidden;
}
#Home .layui-nav-item{
    box-sizing: content-box;
    margin: 5px;
    margin-right: 5px;
    background: #ccc;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
#Home .layui-nav-item .head{
    width: 50px;
}
#Home .layui-nav-item .content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#Home .layui-nav-item .content .title{
    font-size:16px;
    line-height:18px;
    display: flex;
    justify-content: space-between;
}
#Home .layui-nav-item .content .text{
    font-size: 12px;
    line-height:18px;
    color: #797979;
}
#Home .layui-body,#Home .layui-footer{
    left:calc(var(--main-menu-width) + var(--main-side-width))
}
#Menu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    width: var(--main-menu-width);
    overflow-x: hidden;
    background:#4b86dd;
}
#Menu .Menu-scroll{
    position: relative;
    width: calc(var(--main-menu-width) + 20px);
    height: 100%;
    overflow-x: hidden;
}
#Menu .Menu-button{
    height: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    color:#ededed;
    margin-bottom: 20px;
}
#Menu .headImg{
    line-height:40px;
}
#Menu .layui-icon{
    height: 24px;
    display: block;
}
#Menu .Menu-button span{
    font-size:12px;
}
#Menu .headImg{
    height: 40px;
    line-height: 40px;
}